force-app/main/default/flows/VoucherForThreeOpportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NewVoucherEmail</name>
        <label>NewVoucherEmail</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>VoucherEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Account.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Voucher!!!</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Get the Opportunities count number</description>
        <name>OpportunitiesCounter</name>
        <label>OpportunitiesCounter</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>OppCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>OpportunityList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VoucherCounter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VoucherCount</name>
        <label>VoucherCount</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>NumberOfVouchers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>VoucherCounter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendVoucher</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>SendVoucher</name>
        <label>SendVoucher?</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>No voucher sended</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfVouchers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OppDividedByThree</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateVoucher_0</targetReference>
            </connector>
            <label>Yes, send voucher</label>
        </rules>
    </decisions>
    <description>Send a Voucher code, when opportunities are multiply of 3 (For ex. 3, 6, 9, 12, 15, etc)</description>
    <environments>Default</environments>
    <formulas>
        <name>OppDividedByThree</name>
        <dataType>Number</dataType>
        <expression>FLOOR({!OppCount}/3)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>VoucherForThreeOpportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VoucherForThreeOpportunities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateVoucher_0</name>
        <label>CreateVoucher</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>GetVoucher_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Voucher__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetVoucher_0</name>
        <label>GetNewVoucher</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NewVoucherEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetVoucher_0</elementReference>
            </value>
        </filters>
        <object>Voucher__c</object>
        <outputAssignments>
            <assignToReference>VoucherCode</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>OpportunityList</name>
        <label>OpportunityList</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpportunitiesCounter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>VoucherCounter</name>
        <label>VoucherCounter</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VoucherCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Voucher__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OpportunityList</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>VoucherEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi there,&lt;/p&gt;&lt;p&gt;Congratulations! You&apos;ve been awarded with a new Voucher to use in your next purchase.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Please reference this code: &lt;/strong&gt;{!VoucherCode}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Our best wishes&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>NumberOfVouchers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OppCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VoucherCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
